[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
pyyaml = "*"
django-split-settings = "*"
pathlib = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
